{
  "extends": [
    "@kelysty/eslint-config",
    "@kelysty/eslint-config/prettier"
  ],
  "root": true,
  "rules": {
    "valid-jsdoc":"off"
  },
  "ignorePatterns": [
    "node_modules",
    "**/*.config.*",
    "dist"
  ]
}
